<!DOCTYPE html>
<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <h1><%= title %></h1>
  <div class="navbar"></div>
  <a href="/">home</a>
  |
  <a href="/fibonacci">Fibonacci's</a>
